activity-0_9_5/src/main/resources/schemas/csndc/0_9_5/csndc_activity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Manuela Gohlke (Deutsches Zentrum für Luft- und Raumfahrt) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.emsa.europa.eu/csndc" xmlns:gml="http://www.opengis.net/gml" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.emsa.europa.eu/csndc">
    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
    <xs:simpleType name="ST_imageIdentifier">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ST_activityThumbnail">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="width" type="xs:double"/>
    <xs:element name="type" type="xs:string"/>
    <xs:element name="timeStamp" type="xs:dateTime"/>
    <xs:element name="remark" type="xs:string"/>
    <xs:element name="objectConfidenceLevel" type="xs:string"/>
    <xs:element name="length" type="xs:double"/>
    <xs:element name="includeInReport" type="xs:boolean"/>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="confidenceLevel" type="xs:string"/>
    <xs:element name="activity_object">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="type"/>
                <xs:element ref="gml:pos"/>
                <xs:element ref="length"/>
                <xs:element ref="width"/>
                <xs:element ref="remark"/>
                <xs:element ref="objectConfidenceLevel"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:byte" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="activityType" type="xs:string"/>
    <xs:element name="imageIdentifier">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_imageIdentifier">
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="OPT"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="activityThumbnail">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="ST_activityThumbnail">
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="OPT"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="activitySubType" type="xs:string"/>
    <xs:element name="activityRemark" type="xs:string"/>
    <xs:element name="VA_timeStamp" type="xs:dateTime"/>
    <xs:element name="Activity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="includeInReport"/>
                <xs:element ref="gml:Polygon"/>
                <xs:element ref="timeStamp"/>
                <xs:element ref="VA_timeStamp"/>
                <xs:element ref="activityRemark"/>
                <xs:element ref="activityType"/>
                <xs:element ref="activitySubType"/>
                <xs:element ref="activity_object" maxOccurs="unbounded"/>
                <xs:element ref="confidenceLevel"/>
                <xs:element ref="activityThumbnail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>