activity-1_3_4/src/main/resources/schemas/csndc/1_3_4/csndc_activity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:csn="http://www.emsa.europa.eu/csndc" xmlns:gml="http://www.opengis.net/gml" xmlns:ows="http://www.opengis.net/ows/1.1" targetNamespace="http://www.emsa.europa.eu/csndc" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.3.3">

    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd"/>
    <xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gmlBase.xsd"/>
    <xs:import namespace="http://www.opengis.net/ows/1.1" schemaLocation="http://schemas.opengis.net/ows/1.1.0/owsServiceProvider.xsd"/>

    <xs:element name="type" type="xs:string"/>
    <xs:element name="remark" type="xs:string"/>
    <xs:element name="objectConfidenceLevel" type="xs:string"/>
    <xs:element name="imageIdentifier" type="csn:ImageType">
        <xs:annotation>
            <xs:documentation>The unique identifier of the original EO image(s) used to identify the Oil Spill</xs:documentation>
        </xs:annotation>
    </xs:element>
    <!-- ===================================================================== -->
    <!-- Image -->
    <!-- ===================================================================== -->
    <xs:complexType name="ImageType">
        <xs:annotation>
            <xs:documentation>EO Image identifier in which the spill is observed</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="csn:SensorType"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="SensorType">
        <xs:annotation>
            <xs:documentation>EO Sensor Type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAR"/>
            <xs:enumeration value="VIS-IR"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="confidenceLevel" type="xs:string"/>
    <xs:element name="activity_object">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="csn:type"/>
                <xs:element ref="gml:pos"/>
                <xs:element name="length" type="xs:double" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Length (expressed in meters)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="width" type="xs:double" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Width (expressed in meters)</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="csn:remark"/>
                <xs:element ref="csn:objectConfidenceLevel"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:byte" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="activityType" type="xs:string"/>
    <xs:element name="activityThumbnail" type="xs:string">
        <xs:annotation>
            <xs:documentation>Name of the thumbnail image file</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="activitySubType" type="xs:string"/>
    <xs:element name="activityRemark" type="xs:string"/>
    <xs:element name="VA_timeStamp" type="xs:dateTime"/>
    <xs:element name="Activity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="csn:id"/>
                <xs:element name="includeInReport" type="xs:boolean" default="false">
                    <xs:annotation>
                        <xs:documentation>If true the ship observation will be included in report</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="gml:Polygon"/>
                <xs:element name="timeStamp" type="xs:dateTime">
                    <xs:annotation>
                        <xs:documentation>The date and time of the observation expressed in ISO8601 format (e.g. '2003-04-01T13:01:02' )</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="csn:VA_timeStamp"/>
                <xs:element ref="csn:activityRemark"/>
                <xs:element ref="csn:activityType"/>
                <xs:element ref="csn:activitySubType"/>
                <xs:element ref="csn:activity_object" maxOccurs="unbounded"/>
                <xs:element ref="csn:confidenceLevel"/>
                <xs:element ref="csn:imageIdentifier"/>
                <xs:element ref="csn:activityThumbnail"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>